
HappyMrsChicken/HappyMrsChicken.xcodeproj/project.xcworkspace/contents.xcworkspacedata
HappyMrsChicken/HappyMrsChicken.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
HappyMrsChicken/HappyMrsChicken.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/UserInterfaceState.xcuserstate
HappyMrsChicken/HappyMrsChicken.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
